.App {
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

table {
  width: 100%;
  margin: auto;
}
table tr {
  width: 100%;
}
table th, table td {
  box-sizing: border-box;
  padding: 15px;
}
table thead th {
  background: #000;
  color: #fff;
  text-align: left;
}
table tbody {
  text-align: left;
}
table tbody th {
  background: #eee;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}